@import url('https://fonts.googleapis.com/css2?family=Honk&family=Jacquard+24&display=swap');
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

main {
    height: 100vh;
    background-image: url(./img/wp9791390.gif);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vilagos{

    background-image: url(./img/vilagos5.gif);
}

body {
    font-weight: 400;
    font-style: normal;
}

.content {
    display: grid;
    grid-template-columns: 2rem 600px 2rem;
}

.table {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.left,
.right {
    align-self: center;
    font-size: 18px;
    display: flex;
    background-color: rgb(253, 208, 228);
    border: 1px solid #000;
    color: rgb(115, 50, 177);
    justify-content: center;
    border-radius: 20%;
}

.up {
    display: flex;
    justify-content: center;
    margin-left: 320px;
    width: 27px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(253, 208, 228);
    border: 1px solid #000;
    color: rgb(115, 50, 177);
    border-radius: 20%;
}

.down {
    display: flex;
    justify-content: center;
    margin-left: 315px;
    width: 27px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(253, 208, 228);
    border: 1px solid #000;
    color: rgb(115, 50, 177);
    border-radius: 20%;
}

.box {
    border: 1px solid #000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.kijelolt{

    border: 4px solid aqua;
    
}

.vilagos .kijelolt{

    border: 4px solid rgb(74, 213, 255);

}

.container {
    background-color: rgba(132, 97, 150, 0.83);
}

.vilagos .container{

    background-color: rgba(222, 189, 240, 0.83);
}



header {
    background-color: #8f20b1;
    height: 100px;
    border: 2px solid #000;
}

nav {
    height: 80px;
    background-color: #222;
    border-bottom: 1px solid #555
}

.logo {
    padding: 10px;
    width: auto;
    float: left;
}

.logo img {
    height: 70px;
}

.list-item {
    font-family: "Honk", system-ui;
    font-variation-settings: "MORF" 15, "SHLN" 50;
    float: right;
    margin-right: 25px;
    margin-top: 17px;
}



.list-item li {
    float: left;
    padding: 13px 13px;
    font-size: 18px;
    border-radius: 3px;
    transition: all .7s ease-in-out;
}

.list-item li a {
    color: #EEE;
}

.list-item li:hover {
    background-color: rgb(123, 14, 117);
}

.icon {
    display: none;
}

.toggle {
    float: right;
    margin: 20px;
    color: #EEE;
    font-size: 30px;
    border: 1px solid #EEE;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}

#time{
    font-size: 2.5rem;
    font-family: "Jacquard 24", system-ui;
    color: rgb(183, 86, 200);
    text-shadow: 2px 2px rgb(101, 64, 102);



}

.vilagos #time{


    font-size: 2.5rem;
    font-family: "Jacquard 24", system-ui;
    color: rgb(99, 35, 110);
    text-shadow: 2px 2px rgb(221, 118, 225);

    
}

#start{
    float: right;
    font-size: 2.5rem;
    font-family: "Jacquard 24", system-ui;
    color: rgb(183, 86, 200);
    text-shadow: 2px 2px rgb(101, 64, 102);
    margin-right: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.vilagos #start{
   
    color: rgb(99, 35, 110);
    text-shadow: 2px 2px rgb(221, 118, 225);


}

#hatter img{

width: 60px;
height: 60px;
border-radius: 60%;

}
#hatter{

    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 3rem;

}

@media (max-width: 1309px) {
    .icon {
        display: block;
        width: 100%;
        height: 80px;
        background-color: #111;
        border-bottom: 1px solid #444;
    }
    .list-item {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        top: -4px;
        background-color: #222;
        display: none;
    }
    .list-item li {
        text-align: center;
        display: block;
        border-bottom: 1px solid #333;
        float: none;
    }
}