*{margin: 0;padding: 0;box-sizing: border-box;}
main{
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: grid;
    grid-template-columns: 2rem 600px 2rem;
}
.table{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}
.left, .right{
    align-self: center;
    font-size: 18px;
    display: flex;
    background-color: rgb(253,208,228);
    border: 1px solid #000;
    color: rgb(115,50,177);
    justify-content: center;
    border-radius: 20%;
}
.up{
    display: flex;
    justify-content: center;
    margin-left: 320px;
    width: 27px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(253,208,228);
    border: 1px solid #000;
    color: rgb(115,50,177);
    border-radius: 20%;
}
.down{
    display: flex;
    justify-content: center;
    margin-left: 315px;
    width: 27px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(253,208,228);
    border: 1px solid #000;
    color: rgb(115,50,177);
    border-radius: 20%;
}
.box{
    border: 1px solid #000;
}
.container{
    background-color: aliceblue;
}